---
export const partial = true;
export const prerender = false;
import {app} from '../../../firebase/server';
import {getAuth} from 'firebase-admin/auth';
import SubjectCard from '../../../components/SubjectCard.astro';

const auth = getAuth(app)

if(!Astro.cookies.has('session')){
	return new Response("Session error", {
		status: 400,
	});
}
const sessionCookie = Astro.cookies.get('session').value;
let decodedCookie;
try {
	decodedCookie = await auth.verifySessionCookie(sessionCookie);
}catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return new Response("Cookie session",{
		status:400,
	});
}
if(!decodedCookie.roles.includes("admin")){
	return new Response("Unauthorized", {
		status: 401,
	})
}
let user; 
try {
	user = await auth.getUser(decodedCookie.uid);
} catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return new Response("User Not Found", {
		status:400,
	});
}
let id,name,sname,subjectImg,outline;
if(Astro.request.method === "POST"){
	let formdata;
	try{
		formdata = await Astro.request.formData()
	}catch(e){
		return new Response("Form Error",{
			status:400,
		})
	};
	id = formdata.get('id');
	name = formdata.get('name');
	sname = formdata.get('sname');
	subjectImg = formdata.get('subImg');
	outline = formdata.getAll('outline_array');
}
---
<div>
	<SubjectCard name={name} sname={sname} img={subjectImg} />
	<div class='grid grid-cols-3 gap-2 mt-2'>
		{
		outline.map((o) => (
			<img class='w-full' src={o} />
		))
		}
	</div>
</div>
