---
import {getCollection} from 'astro:content';
import {formatAllPosts} from '../../lib/util';
import type {Page} from '../../lib/interface.ts';

import DefaultLayout from '../../layouts/DefaultLayout.astro';
import NoticeCard from '../../components/NoticeCard.astro';
import Pagination from '../../components/Pagination.astro';

export async function getStaticPaths({paginate}){
	const noticeboard = await getCollection('noticeboard',({data})=>{
		return import.meta.env.PROD ? data.draft !== true : true;
	});
	return paginate(noticeboard, {pageSize:12});
}
const {page}:{page:Page} = Astro.props;
---
<DefaultLayout title='Notice Board'>
	<section class='newsSection container p-2 pt-8 mx-auto'>
		<div class='newsCollection mb-4 grid grid-cols-2 max-lg:grid-cols-1 gap-2'>
			{
			page.data.map((n) => (
			<NoticeCard title={n.data.title} link={`/noticeboard/read/${n.slug}`} date={n.data.published} category={n.data.category} position={n.data.postedBy}/>
			))
			}
		</div>
		<Pagination page={page} />
	</section>
</DefaultLayout>
<style>
</style>
