---
import {getCollection} from 'astro:content';
import { formDate } from "../../../js/util";
const id = 'test'
const todo = 'test hererle lerjle lejrlejr'
const link = '/'
const subject = 'Calculus-S1'
const type = 'Quiz'
const date = '2024/01/22'
const admin = true;
const d = new Date();
const v = new Date(date);
const allSubjects = await getCollection('subjects', ({id}) =>{
  return id.startsWith('guide/info');
});
---

<form
  data-id={id}
  id={`assign-${id}`}
  class={`assignment [&.htmx-request]:opacity-50 [&.htmx-request]:pointer-events-none [&.htmx-request]:animate-pulse relative group/assign bg-green-200 ${v < d ? "bg-red-200" : ""}`}>
  <div class="imp">
    <select class='tag type'>
      <option value='Quiz'>Quiz</option>
      <option value='Presentation'>Presentation</option>
      <option value='Written'>Written</option>
    </select>

    <select class='tag subject'>
      {
      allSubjects.map((s) => (
	<option value={s.data.shortname}>{s.data.shortname}</option>
      ))
      }
    </select>
  </div>
  <div class='inputGroup'>
  <p><b>Todo: </b> </p>
    <input type='text' class='todo w-full p-1 px-2 rounded-md' placeholder='Assignment' value={todo} />
  </div>
  <div class='inputGroup'>
  <p><b>Link: </b> </p>
    <input type='text' class='todo w-full p-1 px-2 rounded-md' placeholder='link' value={link} />
  </div>
  <div class='inputGroup'>
    <p><b>Deadlink: </b> </p>
    <input type='date' class='date w-full p-1 px-2 rounded-md' value={formDate(date)} />
  </div>
  <div class='btnGroup'>
    <button
      hx-post="/api/database/del_assignment"
      hx-swap="delete swap:400ms"
      hx-confirm="Are you sure?"
      hx-target={`#assign-${id}`}
      hx-indicator={`#assign-${id}`}
      hx-headers={`{"assign-id":"${id}"}`}
      type="button"
      class="bg-red-500 text-white p-1 px-2 rounded-md "
      >
      <i class="fa-solid fa-trash-can" />
    </button>
    <button
      hx-post="/api/database/del_assignment"
      hx-swap="delete swap:400ms"
      hx-confirm="Are you sure?"
      hx-target={`#assign-${id}`}
      hx-indicator={`#assign-${id}`}
      hx-headers={`{"assign-id":"${id}"}`}
      type="button"
      class="bg-sky-500 text-white p-1 px-2 rounded-md "
      >
      Save
    </button>
  </div>
</form>
