---
export const prerender = false;
import {getEntry} from 'astro:content';

const {newsid} = Astro.params;

import DefaultLayout from '../../layouts/DefaultLayout.astro';
import NewsBlog from '../../components/NewsBlog.astro';
import {app} from '../../firebase/server';
import {getAuth} from 'firebase-admin/auth';

const auth = getAuth(app);

if(!Astro.cookies.has('session')){
	return Astro.redirect('/login');
}
const sessionCookie = Astro.cookies.get('session').value;
let decodedCookie;
try {
	decodedCookie = await auth.verifySessionCookie(sessionCookie);
}catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return Astro.redirect('/login');
}
let user; 
try {
	user = await auth.getUser(decodedCookie.uid);
} catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return Astro.redirect('/login');
}
const news = await getEntry('news', newsid);
const {Content} = await news.render();
---
<DefaultLayout title='News'>
	<section class='blog max-w-[1000px] max-lg:max-w-[750px] max-md:max-w-[500px] p-2 section-nav-pb pt-8 mx-auto'>
		<img src={news.data.bannerImg} alt='Blog Banner Image' />
		<Content/>
	</section>
</DefaultLayout>
