---
import { formatDate } from "../js/util";
const { id, todo, link, subject, type, date, admin, status } = Astro.props;
const d = new Date();
const v = new Date(date);
---

<div
  data-id={id}
  id={`assign-${id}`}
  class={`assignment [&.htmx-request]:opacity-50 [&.htmx-request]:pointer-events-none [&.htmx-request]:animate-pulse relative group/assign bg-green-200 ${v < d ? "bg-red-200" : ""}`}>
  {
    admin && (
      <button
        hx-post="/api/database/del_assignment"
        hx-swap="delete swap:400ms"
        hx-confirm="Are you sure?"
        hx-target={`#assign-${id}`}
        hx-indicator={`#assign-${id}`}
        hx-headers={`{"assign-id":"${id}"}`}
        type="button"
        class="absolute hidden right-2 top-[calc(100%_-_25px)] -translate-y-1/2 group-hover/assign:block bg-red-500 text-white p-1 px-2 rounded-md "
      >
        <i class="fa-solid fa-trash-can" />
      </button>
    )
  }
  <div class="imp">
    <span class="tag type">{type}</span>
    <span class="tag subject">{subject}</span>
  </div>
  {
  link === '/' ? (
    <p class="todo"><b>Todo: </b>{todo}</p>
  ): (

      <a class='todo link' href={link}>
        <b>Todo: </b>{todo}
      </a>
    )
  }
  <p class="date"><b>Deadline: </b>{formatDate(date)}</p>
</div>
