---
const {id , todo, link , subject, type, date, admin} = Astro.props;
---

<div data-id={id} id={`assign-${id}`} class='assignment relative group/assign'>
  {
  admin && (
    <button 
      hx-delete='/api/database/del_assignment'
      hx-swap='delete swap:400ms'
      hx-confirm='Are you sure?'
      hx-target={`#assign-${id}`}
      hx-indicator={`#assign-${id}`}
      hx-headers={`{"assign-id":"${id}"}`}
      type='button' class='absolute hidden right-0 top-1/2 -translate-y-1/2 group-hover/assign:block bg-red-500 text-white p-1 px-2 rounded-md max-sm:block max-sm:right-2 max-sm:top-[calc(100%_-_25px)]'>
      <i class="fa-solid fa-trash-can"></i>
    </button>
  )
  }
  <p class='todo'>{todo}</p>
  <div class='imp px-4'>
    <span class='tag' data-type={`${type}`}>{type}</span>
    <span class='tag' data-subject={subject}>{subject}</span>
    {
    link !== '/' &&     <a class='tag' data-type='link' href={link}>Link</a>
    }
  </div>
  <p class='date'>{date}</p>
</div>
<style is:global>
.tag {
  @apply p-1 px-2 rounded-full text-white capitalize text-sm bg-teal-400 max-sm:text-[.8rem];
}
.tag[data-type='Presentation']{
  @apply bg-lime-400 text-lime-800 font-bold;
}
.tag[data-type='Quiz']{
  @apply bg-yellow-400 text-yellow-800 font-bold;
}
.tag[data-type='Written']{
  @apply bg-violet-400 text-violet-900 font-bold;
}
.tag[data-subject='English']{
  @apply bg-red-400;
}
.tag[data-subject='Calculus']{
  @apply bg-orange-400;
}
.tag[data-subject='Programming']{
  @apply bg-green-500;
}
.tag[data-subject='Islamiat']{
  @apply bg-purple-400;
}
.tag[data-subject='Computer']{
  @apply bg-blue-400;
}
.assignment {
  display:grid;
  grid-template-columns: 1fr max-content 110px;
  @apply p-1 border border-slate-300 rounded-md items-center justify-center max-sm:grid-cols-1 max-sm:text-center max-sm:gap-2;
}
.assignment.htmx-swapping{
  animation:disappear 400ms ease-out;
}
@keyframes disappear {
0% {
  opacity:1;
}
85% {
  opacity:0;
}
100% {
  opacity:0;
  display:none;
}
}
.assignment .todo{
  @apply max-sm:text-sm;
}
.assignment:hover {
  @apply bg-slate-100;
}
.assignment .date{
  @apply border-l border-l-slate-300 px-2 max-sm:text-[.7rem] max-sm:font-bold max-sm:bg-slate-300 max-sm:rounded-sm;
}
</style>
