---
let {outline,path, name,sname} = Astro.props;
function totalTopic(outline:any){
	let count = 0;
	const len = outline.length;
	for(let i = 0;i < len; i++){
		if(outline[i].data.discriminant){
			count += outline[i].data.value.length;
		}else{
			count += 1;
		};
	};
	return count;
};
function completeTopic(outline:any){
	let count = 0;
	const len = outline.length;
	for(let i=0;i<len;i++){
		if(outline[i].data.discriminant){
			const inner_array = outline[i].data.value;
			const inner_len = inner_array.length;
			let inner_count = 0;
			for(let j = 0; j < inner_len ;j++){
				if(inner_array[j].taught) inner_count += 1;
			};
			count += inner_count;
		}else if(outline[i].data.value.taught){
			count += 1;
		};
	};
	return count;
};
const totalTopics = totalTopic(outline);
const completedTopics = completeTopic(outline);
---
<a class='block p-2 py-4 pl-4 rounded-md border-2 relative overflow-hidden group/card cursor-pointer hover:shadow-black/20 hover:shadow-md hover:-translate-y-1 transition-all' href={path}>
	<!--<span class='sub_bg' style={`background-image:url('${img}'); background-image:cover; background-position:center;)`}></span>-->
  <h2 class='font-bold mb-2'><span class='bg-secondary text-white p-1 mr-1 rounded-sm aspect-square'>{sname.toUpperCase()}</span>{name}</h2>

  <div class='ig mb-2 flex flex-row gap-2'>

    <div class='sp flex flex-row'>
      <span class='bg-sky-700 text-white text-sm p-1 px-2 rounded-l-md'>Topics</span>
			<span class='bg-sky-400 text-white text-sm p-1 px-2 rounded-r-md'>{completedTopics} / {totalTopics}</span>
    </div>

    <div class='sp flex flex-row'>
      <span class='bg-red-700 text-white text-sm p-1 px-2 rounded-l-md'>Assignments</span>
      <span class='bg-red-400 text-white text-sm p-1 px-2 rounded-r-md'>Soon</span>
    </div>

  </div>

  <div class="block w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
		<div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style={`width: ${completedTopics * 100 / totalTopics}%`}></div>
  </div>

  <span class='w-2 h-full bg-secondary absolute left-0 top-0 opacity-0 group-hover/card:opacity-100 transition-opacity'></span>
</a>
<style>

	.sub_card .sub_bg {
		@apply absolute w-full inset-0 -z-10;
	}

	.sub_card[data-id='0'] {
		@apply border-sky-800 bg-sky-200/90 text-sky-800;
	}

	.sub_card[data-id='1'] {
		@apply border-lime-800 bg-lime-200/90 text-lime-800;
	}

	.sub_card[data-id='2'] {
		@apply border-yellow-800 bg-yellow-200/90 text-yellow-800;
	}

	.sub_card[data-id='3'] {
		@apply border-orange-800 bg-orange-200/90 text-orange-800;
	}

	.sub_card[data-id='4'] {
		@apply border-red-800 bg-red-200/90 text-red-800;
	}

	.sub_card[data-id='5'] {
		@apply border-pink-800 bg-pink-200/90 text-pink-800;
	}

	.sub_card[data-id='6'] {
		@apply border-purple-800 bg-purple-200/90 text-purple-800;
	}
</style>
