---
export const prerender = false;
import {getCollection} from 'astro:content';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import {app} from '../../firebase/server';
import {getAuth} from 'firebase-admin/auth';

const auth = getAuth(app);

if(!Astro.cookies.has('session')){
	return Astro.redirect('/login');
}
const sessionCookie = Astro.cookies.get('session').value;
let decodedCookie;
try {
	decodedCookie = await auth.verifySessionCookie(sessionCookie);
}catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return Astro.redirect('/login');
}
let user; 
try {
	user = await auth.getUser(decodedCookie.uid);
} catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return Astro.redirect('/login');
}

const allSubjects = await getCollection('subjects');
---
<DefaultLayout title='Subjects'>
	<section class='subjects container mx-auto px-2 section-nav-pb pt-8 max-sm:pt-4'>
		{
		allSubjects.map((s, ind) => (
			<a class='sub_card bg-slate-300 p-4 py-16 rounded-md text-center font-bold lg:hover:scale-110 transition-all border-2 text-xl' data-id={ind}
				href={`/subjects/${s.slug}`}
			>{s.data.title}</a>
		))
		}
	</section>
</DefaultLayout>
<style>
.subjects{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
	@apply gap-2;
}
.sub_card[data-id='0']{
	@apply border-sky-800 bg-sky-200 text-sky-800;
}
.sub_card[data-id='1']{
	@apply border-lime-800 bg-lime-200 text-lime-800;
}
.sub_card[data-id='2']{
	@apply border-yellow-800 bg-yellow-200 text-yellow-800;
}
.sub_card[data-id='3']{
	@apply border-orange-800 bg-orange-200 text-orange-800;
}
.sub_card[data-id='4']{
	@apply border-red-800 bg-red-200 text-red-800;
}
</style>
