---
import DefaultLayout from "@layouts/DefaultLayout.astro";

import type {CollectionEntry} from 'astro:content';
import {Image} from 'astro:assets';
import { getCollection} from "astro:content";
import DrivePreview from "@components/article/DrivePreview.astro";

interface Props{
	book:CollectionEntry<'library'>
};

export async function getStaticPaths(){
	const library = await getCollection('library');

	return library.flatMap((book:CollectionEntry<'library'>) => ({
		params:{book: book.slug},
		props:{book},
	}));
}

const {book} = Astro.props;
const { Content } = await book.render();
---

<DefaultLayout title={book.data.name}>
	<section class="blog container max-w-[1050px] p-2 py-8 px-8 max-md:p-0 mx-auto">
		<DrivePreview driveId={book.data.drive_id} name={book.data.name} type="pdf" />
		<article class='article p-8 max-lg:p-4 max-sm:p-2'>
			<Content />
		</article>
  </section>
</DefaultLayout>
<style is:global>
