---
export const prerender = false;
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import {app} from '../../firebase/server';
import {getFirestore} from 'firebase-admin/firestore';
import {getAuth} from 'firebase-admin/auth';

interface User {
	uid:string;
	name: string;
	email: string;
	roles: string;
}
const auth = getAuth(app)

if(!Astro.cookies.has('session')){
	return Astro.redirect('/login');
}
const sessionCookie = Astro.cookies.get('session').value;
let decodedCookie;
try {
	decodedCookie = await auth.verifySessionCookie(sessionCookie);
}catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return Astro.redirect('/login');
}
if(!decodedCookie.admin){
	return Astro.redirect('/404')
}
let user; 
try {
	user = await auth.getUser(decodedCookie.uid);
} catch(err){
	Astro.cookies.set('session','', {expires : new Date(0)});
	return Astro.redirect('/login');
}

const db = getFirestore(app);
const usersRef = db.collection('users');
const usersSnap = await usersRef.get()
const users = usersSnap.docs.reverse().map((u) => ({
	uid: u.id,
	...u.data(),
})) as User[]
---
<DefaultLayout title='Add User'>
	<section class='adduserSection section-nav-pb container mx-auto px-3'>
		<form 
			hx-post='/api/auth/registerUser'
			hx-swap='afterbegin'
			hx-target='#allUsers'
			hx-trigger='submit'
			hx-on::after-request=" if(event.detail.successful) this.reset()"
			method='post'
			class='newUser flex flex-row gap-2 justify-center mt-4 max-lg:flex-col'>
			<input type='text' name='name' placeholder='Name' />
			<input type="email" name='email' placeholder='Email'/>
			<input type="password" name='password' placeholder='Password'/>
			<input type="text" name='roles' placeholder='Roles1,Roles2 etc'/>
			<button class='primaryBtn p-1 rounded-md border-2' type='submit'>Add</button>
		</form>
		<div id='allUsers' class='grid grid-cols-4 mt-6 gap-2 max-2xl:grid-cols-3 max-xl:grid-cols-2 max-lg:grid-cols-1'>
			{
			users.map((u) => (
				<div class='user' data-id={u.uid} id={`uid-${u.uid}`}>
					<div class='roles'>
						{u.roles.split(',').map((r) => (
							<span class='role'>{r}</span>
						))}
					</div>
					<p class='name'><i class="fa-solid fa-user"></i>{u.name}</p>
					<p class='email'><i class="fa-solid fa-envelope"></i>{u.email}</p>
					<button class='secondaryBtn p-1 px-2 rounded-md border'><i class="fa-solid fa-pen-to-square"></i></button>
					<button class='dangerBtn p-1 px-2 rounded-md border'
						hx-delete='/api/auth/del_user'
						hx-swap='delete swap:400ms'
						hx-headers={`{"uid":"${u.uid}"}`}
						hx-target={`#uid-${u.uid}`}
						hx-trigger='click'
						hx-confirm='Are you sure?'
						type='button'><i class="fa-solid fa-trash"></i></button>
				</div>))
			}
		</div>
	</section>
</DefaultLayout>
<style is:global>
.newUser input {
	@apply border border-slate-300 p-1 px-2 rounded-md text-base w-full;
}
.user {
	@apply flex flex-col gap-2 bg-slate-200 border border-slate-300 p-2 rounded-md;
}
.user .roles {
	@apply flex flex-row gap-1;
}
.user .roles .role{
	@apply bg-sky-500 rounded-full px-3 text-white;
}
.user.htmx-swapping{
	animation:disappear 400ms ease-out;
	filter: grayscale(.5);
	pointer-events:none;
}
.user p {
	@apply text-slate-500;
}
.user p i{
	@apply mr-2 w-4;
}
@keyframes disappear {
0% {
	opacity:1;
}
85% {
	opacity:0;
}
100%{
	opacity:0;
	display:none;
}
}
</style>
